[Desktop Entry]
Encoding=UTF-8
Name=Anzucoin Core
Comment=Connect to the Anzucoin P2P Network
Comment[de]=Verbinde mit dem Anzucoin peer-to-peer Netzwerk
Comment[fr]=Anzucoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Anzucoin, eşten eşe kriptografik sanal para birimi
Exec=anzucoin-qt %u
Terminal=false
Type=Application
Icon=anzucoin128
MimeType=x-scheme-handler/anzucoin;
Categories=Office;Finance;
