policy_module(anzucoin, 1.100.1)

########################################
#
# Declarations
#

type anzucoin_t;
type anzucoin_exec_t;
init_daemon_domain(anzucoin_t, anzucoin_exec_t)

permissive anzucoin_t;

type anzucoin_initrc_exec_t;
init_script_file(anzucoin_initrc_exec_t)

type anzucoin_conf_t;
files_type(anzucoin_conf_t)

type anzucoin_var_lib_t;
files_type(anzucoin_var_lib_t)

type anzucoin_var_run_t;
files_type(anzucoin_var_run_t)

type anzucoin_port_t;
corenet_port(anzucoin_port_t)

########################################
#
# anzucoin local policy
#
allow anzucoin_t self:process { fork };

allow anzucoin_t self:fifo_file rw_fifo_file_perms;
allow anzucoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(anzucoin_t, anzucoin_conf_t, anzucoin_conf_t)
manage_files_pattern(anzucoin_t, anzucoin_conf_t, anzucoin_conf_t)

manage_dirs_pattern(anzucoin_t, anzucoin_var_lib_t, anzucoin_var_lib_t)
manage_files_pattern(anzucoin_t, anzucoin_var_lib_t, anzucoin_var_lib_t)
files_var_lib_filetrans(anzucoin_t, anzucoin_var_lib_t, { dir file })

manage_dirs_pattern(anzucoin_t, anzucoin_var_run_t, anzucoin_var_run_t)
manage_files_pattern(anzucoin_t, anzucoin_var_run_t, anzucoin_var_run_t)

sysnet_dns_name_resolve(anzucoin_t)
corenet_all_recvfrom_unlabeled(anzucoin_t)

allow anzucoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(anzucoin_t)
corenet_tcp_sendrecv_generic_node(anzucoin_t)
corenet_tcp_sendrecv_all_ports(anzucoin_t)
corenet_tcp_bind_generic_node(anzucoin_t)

gen_require(`
    type anzucoin_port_t;
')
allow anzucoin_t anzucoin_port_t:tcp_socket name_bind;

gen_require(`
    type anzucoin_port_t;
')
allow anzucoin_t anzucoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(anzucoin_t)

files_read_etc_files(anzucoin_t)

miscfiles_read_localization(anzucoin_t)

sysnet_dns_name_resolve(anzucoin_t)

allow anzucoin_t anzucoin_exec_t:file execute_no_trans;
allow anzucoin_t self:process setsched;
corecmd_exec_ls(anzucoin_t)
corenet_tcp_connect_http_port(anzucoin_t)
dev_read_urand(anzucoin_t)
fs_getattr_xattr_fs(anzucoin_t)
kernel_read_system_state(anzucoin_t)
