
## <summary>policy for anzucoin</summary>


########################################
## <summary>
##	Transition to anzucoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`anzucoin_domtrans',`
	gen_require(`
		type anzucoin_t, anzucoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, anzucoin_exec_t, anzucoin_t)
')


########################################
## <summary>
##	Execute anzucoin server in the anzucoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`anzucoin_initrc_domtrans',`
	gen_require(`
		type anzucoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, anzucoin_initrc_exec_t)
')


########################################
## <summary>
##	Search anzucoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`anzucoin_search_lib',`
	gen_require(`
		type anzucoin_var_lib_t;
	')

	allow $1 anzucoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read anzucoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`anzucoin_read_lib_files',`
	gen_require(`
		type anzucoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, anzucoin_var_lib_t, anzucoin_var_lib_t)
')

########################################
## <summary>
##	Manage anzucoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`anzucoin_manage_lib_files',`
	gen_require(`
		type anzucoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, anzucoin_var_lib_t, anzucoin_var_lib_t)
')

########################################
## <summary>
##	Manage anzucoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`anzucoin_manage_lib_dirs',`
	gen_require(`
		type anzucoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, anzucoin_var_lib_t, anzucoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an anzucoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`anzucoin_admin',`
	gen_require(`
		type anzucoin_t;
		type anzucoin_initrc_exec_t;
		type anzucoin_var_lib_t;
	')

	allow $1 anzucoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, anzucoin_t)

	anzucoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 anzucoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, anzucoin_var_lib_t)

')

